<div class="container">
  <h1>Github User Search</h1>
  <div class="row mb-3">
    <div class="col-12 error" *ngIf="error$ | async as error">
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <app-search-form
        [isLoading]="isLoading$ | async"
        (updateSearchQuery)="onUpdateSearchQuery($event)"
      ></app-search-form>
    </div>
    <div class="col-12">
      <app-search-results
        [results]="resultsForCurrentPage$ | async"
        [hasPreviousPage]="hasPreviousPage$ | async"
        [hasNextPage]="hasNextPage$ | async"
        (showDetails)="onShowDetails($event)"
        (gotoPreviousPage)="onGotoPreviousPage()"
        (gotoNextPage)="onGotoNextPage()"
      ></app-search-results>
    </div>
  </div>
</div>
